/* CSS Document */
* {
  box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
  /* background: #fbf6f0; */
  font-family: 'Segoe UI';
  color: rgb(116, 117, 127);
  margin: 0px;
  padding: 0px;
}

h1 {
font-weight: bold;
color: rgb(41, 41, 58);
}

/*-----------------------------------------------
style about me section
------------------------------------------------*/
.about {
height: 300px;
overflow: hidden;
display: flex;
flex-direction: row;
align-content: flex-start;
align-items: stretch;
}

.profile-imgContain {
height: 100%;
width: 60%;
padding: 0px;
margin: 0px;
margin-right: 10px;
text-align: right;
vertical-align: middle;
}

.profile-img {
height: 100%;
width: 100%;
padding: 0px;
margin: 0px;
object-fit: cover;
-webkit-mask-image:linear-gradient(to left, transparent 5%, black 35%);
mask-image: linear-gradient(to left, transparent 5%, black 35%);
}

.profile-info {
height: 100%;
width: 40%;
padding: 0px;
margin: 0px;
padding: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}

.profile-info h1 {
font-weight: bold;
color: rgb(41, 41, 68);
font-size: 30px;
margin: 0;
padding: 0;

-webkit-text-decoration-line: overline;
text-decoration-line: overline;
text-decoration-color: red;
}

.profile-info h2 {
font-weight: normal;
font-size: 20px;
margin: 0;
padding: 0;
}

.resume a {
display: flex;
justify-content: center;
align-items: center;
height: 40px;
width: 200px;
background-color: #957dad;
color: #fff !important;
border-radius: 5px;
text-align: center;
vertical-align: middle;
font-size: 20px;

margin: 0px;
padding: 0px;

transition: .3s ease;
}

.resume a:link {
text-decoration: none;
}

.resume a:hover {
background-color: #d291bc;
}

.resume a:visited {
text-decoration: none;
}


/*-----------------------------------------------
style education & skill section
------------------------------------------------*/
.ed-and-skill-section {
/* height: 400px; */
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: stretch;
flex-wrap: wrap;
padding: 0px;
margin: 0px;
}

.ed-and-skill-section h1 {
text-align: center;
margin: 0px;
padding: 0px;
margin-bottom: 5px;
}

/* education */
.education {
width: 50%;
background: rgb(0, 167, 169);
padding: 10px;
margin: 0;
/* display: flex;
flex-direction: column;
align-content: space-between; */
/* object-fit: contain; */
}

.school {
display: flex;
flex-direction: row;
align-content: space-between;
align-items: center;
/* object-fit: contain; */
}

.education-imgContain {
height: 100%;
width: 10%;
text-align: center;
vertical-align: middle;
border-radius: 10%;
padding: 0px;
margin: 0px;
/* background-color: white; */
/* object-fit: contain; */
}

.education-img {
height: 100%;
width: 10%;
margin: 0px;
padding: 0px;
border-radius: 10%;
text-align: center;
vertical-align: middle;
}

.education-text {
padding: 0;
margin: 0;
margin-left: 10px;
}

/* skills */
.skills {
width: 50%;
padding: 10px;
margin: 0px;
background-color:rgb(0, 167, 169);
}

.analytical-tool,.techniques {
display: flex;
flex-direction: row;
align-items: baseline;
}


.skills h2 {
width: 20%;
padding: 0px;
margin: 0px;
vertical-align: top;
font-size: 20px;
}

.skills ul {
width: 80%;
padding: 0px;
margin: 2px;
vertical-align: top;
}

.list-inline {
display: flex;
align-content: flex-start;
flex-wrap: wrap;
padding: 0;
list-style: none;
list-style-type: none;
}

.dev-icons {
font-size: 20px
}

.list-inline-item {
margin: 0px;
margin-right: 5px;
padding: 0px;
}

.list-inline-item i:hover {
color: #BD5D38;
}

/*-----------------------------------------------
work experience section
------------------------------------------------*/
.work-experience {
/* height: 500px; */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 0px;
padding: 10px;
}

.work-experience h1 {
width: 100%;
text-align: center;
/* margin: 0;
padding: 0; */

-webkit-text-decoration-line: overline;
text-decoration-line: overline;
text-decoration-color: red;
}

.work-experience-item {
width: 320px;
margin: 5px;
padding: 5px;
border-radius: 10px;
text-align: center;
transition: .5s ease;
background-color: white;
box-shadow: 0px -3px #555555, 0px 0px 5px 0px #cdc9c3;
}

.comp-img {
height: 80px;
border-radius: 10%;
}

.work-experience-item:hover {
/* background-color: #fceef5;
box-shadow: 3px 3px 3px 0px #555555; */
box-shadow: 0px 0px 10px 0px #555555;
}

.work-title {
font-weight: bold;
margin: 0;
padding: 2px;
}

.work-duration {
color: lightblue;
font-style: italic;
margin: 0;
padding: 2px;
}

.work-responsibility {
color: gray;
margin: 0;
padding: 2px;
}
/*-----------------------------------------------
style project section
------------------------------------------------*/
.additional-info {
display: flex;
flex-direction: row;
flex-wrap: wrap;
/* justify-content: space-evenly; */
align-content: stretch;
/* align-items: center; */
width: 100%;
padding: 0px;
margin: 0px;
margin-bottom: 15px;
}

.additional-info h1 {
width: 100%;
text-align: center;

-webkit-text-decoration-line: overline;
text-decoration-line: overline;
text-decoration-color: red;
}

.info-container {
height: 350px;
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
padding: 0px;
margin: 0px;
}

.info-img-container {
width: 22%;
height: 100%;
padding: 0px;
margin: 0px;
position: relative;
border-color: black;
}

.info-img {
object-fit: cover;
opacity: 1;
width: 100%;
height: 100%;
transition: .5s ease;
backface-visibility: hidden;
padding: 0px;
margin: 0px;
}

.info-img-container p {
text-align: center;
width: 100%;
padding: 0px;
margin: 0px; 
}

.overlay {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 0%;
left: 0%;
text-align: center;
padding: 0px;
margin: 0px;
height: 100%;
}

.info-img-container:hover .info-img {
opacity: 0.4;
}

.info-img-container:hover .overlay {
opacity: 1;
}

.overlay-text {
width: 100%;
height: 100%;
color: black;
font-size: 16px;
padding: 10px 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.overlay-text-title {
width: 100%;
padding: 0px;
margin: 0px;

font-weight: bold;
}
.overlay-text-body {
width: 100%;
padding: 0px;
margin: 0px;

overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
text-align: justify;
}

/*-----------------------------------------------
style contact me section
------------------------------------------------*/
.contact {
width: 100%;
padding: 0px;
margin: 0px;
background-color: rgb(41, 41, 58);
}

.contact h1 {
text-align: center;

-webkit-text-decoration-line: overline;
text-decoration-line: overline;
text-decoration-color: red;

}

.contact-detail {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 0;
padding: 0px;

font-size: 15px;
}

.email {
color: inherit;
text-decoration: none;
}

.social-icon  {
text-align: center;
vertical-align: middle;
font-size: 25px;
color: rgb(116, 117, 127);
margin: 0px;
padding: 0px;
}

.contact-detail a:hover {
color: white;
}

.contact-detail p:hover {
color: white;
}