/* CSS Document */
* {
  box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Segoe UI';
  color: rgb(73, 80, 87);
  margin: 0px;
  padding: 0px;
}

/*-----------------------------------------------
style about me section
------------------------------------------------*/
.about {
height: 300px;
overflow: hidden;
display: flex;
flex-direction: row;
align-content: flex-start;
align-items: stretch;
}

.profile-imgContain {
height: 70%;
width: 55%;
padding: 0px;
margin: 0px;
margin-right: 10px;
text-align: right;
vertical-align: middle;
}

.profile-img {
/* height: 100%; */
width: 100%;
/* border: 5px solid black; */
/* border-radius: 50%; */
/* display: inline-block; */
padding: 0px;
margin: 0px;
object-fit: cover;
}

.profile-info {
height: 100%;
width: 45%;
padding: 0px;
margin: 0px;
padding: 0px;
padding-left: 10px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}

.profile-info h1 {
font-weight: bold;
font-size: 30px;
margin: 0;
padding: 0;
}

.profile-info h2 {
font-weight: normal;
font-size: 20px;
margin: 0;
padding: 0;
}

.resume a {
display: flex;
justify-content: center;
align-items: center;
height: 40px;
width: 200px;
background-color: #495057;
color: #fff !important;
border-radius: 5px;
text-align: center;
vertical-align: middle;
font-size: 20px;

margin: 0px;
padding: 0px;
}

.resume a:link {
text-decoration: none;
}

.resume a:hover {
background-color: #BD5D38;
}

.resume a:visited {
text-decoration: none;
}


/*-----------------------------------------------
style education & skill section
------------------------------------------------*/
.ed-and-skill-section {
/* height: 400px; */
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: stretch;
flex-wrap: wrap;
padding: 0px;
margin: 0px;
}

.ed-and-skill-section h1 {
text-align: center;
margin: 0px;
padding: 0px;
margin-bottom: 5px;
}

/* education */
.education {
width: 50%;
background: #349fa4;
padding: 10px;
margin: 0;
/* display: flex;
flex-direction: column;
align-content: space-between; */
/* object-fit: contain; */
}

.school {
display: flex;
flex-direction: row;
align-content: space-between;
align-items: center;
/* object-fit: contain; */
}

.education-imgContain {
height: 100%;
width: 10%;
text-align: center;
vertical-align: middle;
border-radius: 10%;
padding: 0px;
margin: 0px;
/* background-color: white; */
/* object-fit: contain; */
}

.education-img {
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
}

.education-text {
padding: 0;
margin: 0;
margin-left: 10px;
}

/* skills */
.skills {
width: 50%;
padding: 10px;
margin: 0px;
background-color: #f8cbd1;
}

.analytical-tool,.techniques {
display: flex;
flex-direction: row;
align-items: baseline;
}


.skills h2 {
width: 20%;
padding: 0px;
margin: 0px;
vertical-align: top;
font-size: 20px;
}

.skills ul {
width: 80%;
padding: 0px;
margin: 2px;
vertical-align: top;
}

.list-inline {
display: flex;
align-content: flex-start;
flex-wrap: wrap;
padding: 0;
list-style: none;
list-style-type: none;
}

.dev-icons {
font-size: 20px
}

.list-inline-item {
margin: 0px;
margin-right: 5px;
padding: 0px;
}

.list-inline-item i:hover {
color: #BD5D38;
}

/*-----------------------------------------------
work experience section
------------------------------------------------*/
.work-experience {
height: 500px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin: 0px;
padding: 0px;
}

.work-experience h1{
width: 100%;
text-align: center
}

.work-experience-item {
width: 33.3%;
margin: 0px;
padding: 0px;
text-align: center;
}

.comp-img {
height: 80px;
border-radius: 10%;
}

.comp-img:hover {
height: 100px;
}

/*-----------------------------------------------
style project section
------------------------------------------------*/
.additional-info {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-content: stretch;
align-items: center;
width: 100%;
padding: 0px;
margin: 0px;
}

.additional-info h1 {
width: 100%;
text-align: center;
}

.info-container {
height: 400px;
display: flex;
flex-flow: row wrap;
padding: 0px;
margin: 0px;
/* vertical-align: middle; */
}

.info-img-container {
width: 25%;
height: 100%;
padding: 0px;
margin: 0px;
position: relative;
/* vertical-align: middle; */
}

.info-img {
object-fit: cover;
opacity: 1;
width: 100%;
height: 100%;
transition: .5s ease;
backface-visibility: hidden;
padding: 0px;
margin: 0px;
}

.info-img-container p {
text-align: center;
width: 100%;
padding: 0px;
margin: 0px; 
}

.overlay {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 0%;
left: 0%;
text-align: center;
/* vertical-align: middle; */
padding: 0px;
margin: 0px;
height: 100%;
}

.info-img-container:hover .info-img {
opacity: 0.4;
}

.info-img-container:hover .overlay {
opacity: 1;
}

.overlay-text {
width: 100%;
height: 100%;
color: black;
font-size: 16px;
padding: 10px 10px;
text-align: justify;
overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
display: flex;
align-items: center;
}

.overlay-text p {
padding: 0px;
margin: 0px;
}

/*-----------------------------------------------
style contact me section
------------------------------------------------*/
.contact h1 {
text-align: center;
}

.address {
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
align-items: baseline;
flex-wrap: wrap;
}

.address i {
text-align: center;
vertical-align: middle;
width: 5%;
padding: 0px;
margin: 0px;
}

.address p {
text-align: left;
vertical-align: middle;
width: 95%;
padding: 0px;
margin: 0px;
}

.social-icons a {
display: inline-block;
height: 40px;
width: 40px;
background-color: #495057;
color: #fff !important;
border-radius: 10%;
text-align: center;
vertical-align: middle;
font-size: 20px;
line-height: 3.5rem;
margin: 0px;
padding: 0px;
}

.social-icons a:hover {
background-color: #BD5D38;
}